.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disabled{
  color:gray;
}

.party-tile{
  display: grid;
}

.party-select-container {
  display: flex;
  max-width: 1000px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.party-tile{
  width: 210px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.header{
  height:40px;
  padding:20px;
  padding-bottom:60px;
  
}

.flashing-content-container{
  font-size: 55px;
}